# Misc
.DS_store
*.zip
*.xlsx 

# Large gromacs files (trajectories)
*.xtc
*.trr

# Misc gromacs files
*.xvg
!table*.xvg
*.tpr
mdout.mdp

# Gromacs automatic backups
*#

# HPC logs
GROMACS.*

# Executables
*.exe

# Python
__pycache__/

# Visual Studio Code
.vscode/

~$simulation_plans_results.xlsx
~$*
