# Misc
.DS_store
*.zip
*.xlsx 
*.npz

# Large gromacs files (trajectories)
*.xtc
*.trr

# Misc gromacs files
*.xvg
!table*.xvg
*.tpr
mdout.mdp

# Gromacs automatic backups
*#

# HPC logs
GROMACS.*

# Executables
*.exe

# Python
__pycache__/

# Visual Studio Code
.vscode/

~$simulation_plans_results.xlsx
~$*

annealing_simulations/*
crystal_simulations/*
interface_evolution/*
liquid_simulations/*
mixedphase_evolution/*
nucleus_evolution/*
starting_configs/*
tests_multiphase_evolution/*

force_fields/CHARMM36/*
